# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
blog/node_modules
blog/.cache/
# Build directory
blog/public/
blog/static/admin/*.bundle.*
blog/yarn-error.log
.DS_Store
.eslintcache